<h1> Correo de restablecimiento enviado correctamente </h1>        
    <p style="text-align: center;">En breve recibirás un email con el código de restablecimiento de contraseña. Una vez que lo recibas pincha en continuar.</p>
<main class="upload">
            <a href="/reset-password">
            <button  class="btnSec4">Continuar</button>
            </a>


</main>