    <h1> Lo sentimos! Error 404</h1>
<section class="upload">  
    <form class="uploadcontainer">
            <div class="campo">
                <p>No se ha encontrado al usuario</p>
            </div>
            

        <content class="inputcontainer">

            <button class="btnSec"><a href="/">Atras</a></button>
        </content>
    </form>
    
</section>