<section class="mainCont">
    <h1>Cart</h1>
    <main class="section">
        <div class="card cardFront">
            <img src="https://dspncdn.com/a1/media/originals/01/37/b6/0137b6c4bb21f01f395f0c975f03e651.jpg" alt="furniture">
            <div class="text">
                <h2>{{product.title}}</h2>
                <p>Description:</p>
                <strong>{{product.description}}</strong>
                <p>Price: <strong>{{product.price}}</strong> $</p>
                <button type="button" id={{product._id}}> Add to Cart </button>
            </div>
        </div>
    </main>
</section>