<h1>Mi perfil</h1>
<main class="profile">
<div>
        <p>Nombre: <span>{{user.first_name}} {{user.last_name}}</span> </p>
        <p>Edad: <span>{{user.age }}</span></p>
        <p>Email: <span>{{user.email}}</span></p>
        <button class="btnSec3">
            <a href="/api/sessions/logout">Logout</a>
        </button>
            
    </div>
</main>
