<h1>Edit, create or delete any product</h1>
<section class="mainCont">


<div id="prodCont" class="section">

</div>

<h3>Acá podés agregar más productos:</h3>
<div class="form">
    <form>
        <input type="text" id="title" placeholder="Title">
        <input type="text" id="description" placeholder="Description">
        <input type="number" id="price" placeholder="Price">
        <input type="text" id="img" value="No Picture">
        <input type="text" id="code" placeholder="Code">
        <input type="number" id="stock" placeholder="Stock">
        <input type="text" id="category" placeholder="Category">
        <select id="status">
            <option value= "true">Active</option>
            <option value="false">Inactive</option>
        </select>
        <button type="button" id="btnSend">Send</button>
    </form>
</div>
</section>


<script src="https://cdn.socket.io/4.7.3/socket.io.min.js" integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg" crossorigin="anonymous"></script>
<script src="js/realtime.js"></script>