<main class="mainRegister">
    <section class="register">
        <h1>Register</h1>
        <form action="/api/users/" method="post" class="formCont">
        <section class="form2">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required>
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </section>
        <section class="form2">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <label for="role">Role:</label>
            <select id="role" name="role">
                <option value="user">User</option>
            </select>
            <label for="role">Age:</label>
            <input type="number" id="age" name="age" required>
            <button type="submit" class="inputBtn">Register</button>
        </section>
        </form>
    </section>
</main>