@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
    --dark1: #0f2d3c;
    --dark2: #237092;
    --dark3: #92a3aa;
    --vibrant: #e73c7e;
    --light: #fcf8f8;
}
/*  Body  */

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
}

h1, h3 {
    color: var(--dark1);
    display: flex;
    justify-content: center;
}


.mainCont {
    margin: 7rem 0rem 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(238,119,82);
    background: linear-gradient(126deg, rgba(238,119,82,1) 0%, rgba(231,60,126,1) 20%, rgba(35,166,213,1) 79%, rgba(35,213,171,1) 100%);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    padding: 40px 0px;
    margin-bottom: 40px;
}

/* Navbar */

ul {
    display: flex;
    gap: 30px;
}

li, li a {
    text-decoration: none;
    list-style: none;
    color: var(--light);
    cursor: pointer;
    font-weight: 700;
}

li a::after {
    content: '';
    width: 0%;
    height: 3px;
    display: block;
    background-color: var(--light);
    margin-top: 4px;
    transition: all .5s ease-out;
}

li a:hover::after {
    width: 100%;
}

.logo {
    font-size: large;
    font-weight: 800;
    text-decoration: none;
    color: var(--light);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Containers */


.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* height: calc(100vh - 64px);  */
}

.cardFront {
    margin-bottom: 8rem;
}

.card {
    color: var(--dark2);
    height: 670px;
    width: auto;
    background-color: var(--light);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    scale: 1;
    transition: all .8s ease-out;
    border-radius: 8px;
    overflow: hidden;
}

.card .text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 30px 50px;
}

button a {
    text-decoration: none;
    list-style: none;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}


/* Cards */

.card img {
    height: 400px;
    width: auto;
}

.card:hover {
    background: var(--dark1);
	background-size: 900% 900%;
	animation: gradient 15s ease infinite;
    color: var(--light);
    border: var(--light);
    scale: 1.05;
    transition: all .2s ease-in-out;
}

button:hover {
    cursor: pointer;
    background: transparent;
    color: var(--light);
    border: var(--light) solid 2px;
    transition: all .2s ease-in-out
}

button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    outline: none;
    background: var(--vibrant);
	background-size: 400% 400%;
    border: var(--vibrant) solid 2px;
    border-radius: 5rem;
    color: var(--light);
}


.pageBtn a {
    color: var(--dark1);
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-weight: 600;
}

.pageBtn {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* Detail Prods Cards */

.btns{
    display:flex;
    justify-content: space-between;
}



/* Chat */

.mainChat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Form */


.contCenter {
    margin: 0 auto;
    width: 40%;
}


.inputBtn {
    color: var(--light);
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-weight: 600;
}

.pageBtn .disable {
    color: var(--dark3);

}

.form {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
} 

.mainRegister {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 2rem; */
} 

.form2 input {
    margin-bottom: 1rem;
}

.realTimeProd {
    margin-bottom: 1rem;
    padding: 2rem 3rem;
    background: var(--dark2);
    border-radius: 5rem;
}

input, select {
    box-sizing: border-box;
    outline: none;
    padding: 0.5rem;
    border-radius: 2rem;
    border: var(--dark2) solid 2px;
}

input:focus {
    border: var(--vibrant) solid 2px;
} 

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.logout:hover {
    cursor: pointer;
    background: transparent;
    color: var(--vibrant);
    border: var(--vibrant) solid 2px;
    transition: all .2s ease-in-out
}

.logout a:hover {
    cursor: pointer;
    color: var(--vibrant);
    transition: all .2s ease-in-out
}

/* Login */

.log {
    display: flex;
    padding-top: 10px;
    justify-content: space-evenly;
    gap: 2rem;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.btnSec {
    background-color: var(--dark1);
    border: 2px solid var(--dark1);
    margin-bottom: 10px;
} 

.btnSec3 {
    background-color: var(--dark1);
    border: 2px solid var(--light);
    margin-bottom: 10px;
} 

.btnSec2 {
    background-color: var(--vibrant);
    border: 2px solid var(--vibrant);
    margin-bottom: 10px;
    font-weight: 700;
} 

.btnSec2:hover {
    background-color: var(--dark1);
    border: 2px solid var(--dark1);
} 

.btnSec4 {
    font-weight: 700;
}

.btnSec4:hover {
    color: var(--dark1);
    border: 2px solid var(--dark1);
} 

.btnSec:hover {
    border: 2px solid var(--dark1);
    transition: all .4s ease-in-out;
    color: var(--dark1);
} 

.btnSec a:hover, .btnSec2 a:hover {
    color: var(--dark1);
}


.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.uploadcontainer {
    width: 200px;
    padding: 50px;
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* Profile */

.profile {
    display: flex;
    justify-content: center;
}

span {
    font-weight: 700;
}

/* Icon fontawesome */

.icon {
    font-size: 100px;
    color: #0f2d3c;
    text-align: center;
}


/* Cart Details View */

.btns2{
    display:flex;
    justify-content: space-around;
    gap: 10px;
}

.btnVaciar {
    background-color: var(--vibrant);
    border: 2px solid var(--vibrant);
    margin-bottom: 10px;
} 


.btnVaciar:hover {
    border: 2px solid var(--dark1);
    transition: all .4s ease-in-out;
    color: var(--dark1);
} 

.mainCart {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.mainCart h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.mainCart span {
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
}

.cartSection {
    display: flex;
    flex-wrap: wrap;
}

.cartCard {
    /* border: 1px solid var(--dark3); */
    margin-right: 10px;
    margin-bottom: 10px;
    width: calc(33.333% - 10px);
    background-color: var(--light);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    scale: 1;
    transition: all .8s ease-out;
    border-radius: 8px;
    overflow: hidden;
}

.cartCard:hover {
    background: var(--dark1);
	background-size: 900% 900%;
	animation: gradient 15s ease infinite;
    color: var(--light);
    border: var(--light);
    scale: 1.05;
    transition: all .2s ease-in-out;
}

.cartCard .cartBody {
    padding: 15px;
}

.cartCard .cardTitle {
    font-size: 18px;
    margin-bottom: 5px;
}

.cartCard .cardText {
    font-size: 16px;
    margin-bottom: 10px;
}

.mt-2 {
    margin-top: 20px;
}

