<header>
    <a href="/" class="logo">BamBam</a>
    <nav>
        <ul>
            <li><a href="/products">Products</a></li>
            <li><a href="/">Cart</a></li>
            <li><a href="/chat">Chat</a></li>
        </ul>
    </nav>
</header>