<header>
    <a href="/" class="logo">BamBam</a>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/realtimeproducts">Realtime</a></li>
        </ul>
    </nav>
</header>