<header>
    <a href="/" class="logo">BamBam</a>
    <nav>
        <ul>
            {{#if req.session.login}}
                <li><a href="/products">Products</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="/logout">Logout</a></li>
            {{else}}
                <li><a href="/chat">Chat</a></li>
                <li><a href="/register">Register</a></li>
            {{/if}}
        </ul>
    </nav>
</header>