<header>
    <a href="/" class="logo">BamBam</a>
    <nav>
        <ul>
                
            {{#if user}}
                <li><a href="/profile">Bienvenido {{user.first_name}}</a></li>
                <li><a href="/products">Products</a></li>
                {{#if isAdmin}}
                <li><a href="/realtime">Edit Products</a></li>
                <li><a href="/users">Users</a></li>
                {{/if}}
                {{#if isPremium}}
                <li><a href="/premium">Premium</a></li>
                <li><a href="/chat">Chat</a></li>
                {{/if}}
                {{#if isUser}}
                <li><a href="/chat">Chat</a></li>
                {{/if}}
                <li><a href="/api/sessions/logout">Logout</a></li>
                <li><a href="/carts/{{user.cart}}"><i class="fa-solid fa-cart-shopping"></i></a></li>
            {{else}}
                <li><a href="/login">Iniciar Sesión</a></li>
                <li><a href="/register">Registrarse</a></li>
            {{/if}}
        </ul>
    </nav>
</header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />