<section class="section">
    <h1>Bienvenido!</h1>

    <p>{{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Role: {{user.role}}</p>
    <button class="logout">
        <a href="/api/sessions/logout">Logout</a>
    </button>
</section>