<section class="section">
    <h1>Bienvenido!</h1>

    <span class="profileData">{{user.first_name}} {{user.last_name}}</span>
    <p>Email: <span class="profileData">{{user.email}}</span></p>
    {{#if user.role}}
        <p>Role: <span class="profileData">{{user.role}}</span></p>
    {{/if}}
    <button class="logout">
        <a href="/api/sessions/logout">Logout</a>
    </button>
</section>